  <h1 class="mt-5">Webcome to Instagram Clone</h1>
  <p class="lead">Please reginster or sign in to continue</p>
  <%= link_to "Sign Up", new_account_registration_path, class:"btn btn-success" %>
  <%= link_to "Sign In", new_account_session_path, class:"btn btn-secondary" %>